<!DOCTYPE html>
<html lang="en">

<head>

    <!-- opacity: 0.7; -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Electionitics on Sanders by Big Neuron</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/freelancer.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/hover.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <!-- Adding this causes problems:
    <link href="{{ url_for('static', filename='css/topic_style.css') }}" rel="stylesheet">-->

    <!-- amCharts javascript sources -->
    <script src="../../static/js/amcharts.js"></script>
     <script src="../../static/js/dataloader.min.js"></script>
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/pie.js"></script>
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/chalk.js"></script>
    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- amCharts custom font -->
    <link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>

      <style>
        body, html {
          font-family: Verdana;
          font-size: 12px;
        }
        #chartdiv1 {
            padding-right: 200px;
          width: 100%;
          height: 500px;
          background-color: transparent;
        }

        #chartdiv2 {
            padding-left: 150px;
          width: 100%;
          height: 500px;
          background-color: transparent;
        }

        header {
        background: linear-gradient(25deg, #013467, #044689, #0052a5, #cc172a, #960c1a, #650912);
        background-size: 600% 600%;

        -webkit-animation: USflagintense 25s ease infinite;
        -moz-animation: USflagintense 25s ease infinite;
        -o-animation: USflagintense 25s ease infinite;
        animation: USflagintense 25s ease infinite;
        }
        /* Animations */
        @-webkit-keyframes USflagintense {
            0%{background-position:70% 0%}
            50%{background-position:31% 100%}
            100%{background-position:70% 0%}
        }
        @-moz-keyframes USflagintense {
            0%{background-position:70% 0%}
            50%{background-position:31% 100%}
            100%{background-position:70% 0%}
        }
        @-o-keyframes USflagintense {
            0%{background-position:70% 0%}
            50%{background-position:31% 100%}
            100%{background-position:70% 0%}
        }
        @keyframes USflagintense {
            0%{background-position:70% 0%}
            50%{background-position:31% 100%}
            100%{background-position:70% 0%}

       }
      </style>
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <!-- TOP Nav Bar -->
    <nav class="navbar navbar-default navbar-fixed-top" style="padding-right: 20px; background: transparent">
        <!-- Responsive Design -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('home')}}" style="padding: 20px">Big Neuron</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" style="padding-right: 20px; ">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <!-- Header -->
    <header style="height: 1000px">
        <div class="container" style="width: 100%; height:1000; padding-left:50px; padding-right:50px;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text" style="padding-top: 5px; padding-bottom: 30px">
                        <h2 style="padding-bottom:10px">Tweet-Level Sentiment Analysis for Bernie Sanders</h2>
                        <hr class="star-light">
                        <span class="skills">See the sentiment surrounding a single Tweet.</span>
                        <!-- Button link to Realtime SA page-->
                    </div>
                    <div class="row">
                        <div class="col-lg-6" style="overflow-y:scroll; height:845px;">
                            <form role="form">
                                <div class="form-group" >
                                    <div class="radio-button">
                                        <div style="color:#000000; text-align:left; padding-left:5px;">
                                            {% for tweet in tweet_list %}
                                            <div class="radio" style="background-color: dimgrey;opacity:0.8;padding:3px 3px; font-size: 24px">
                                                <label style= "" id="{{tweet[0]}}" onclick="changeVizById(this)">
                                                    <input type="radio" name="optionsRadios"><a href="{{ url_for('tweetlevel') }}" target="viz"></a>{{tweet[1]}}
                                                </label>
                                            </div>
                                            {% endfor %}

                                        </div>

                                    </div>
                                    <!-- End: radio-button-->
                                </div>
                                <!-- End: form-group -->
                            </form>
                        </div>
                        <!-- /.col-lg-6 (nested) -->

                        <!-- Visualization display section -->
                        <div class="col-lg-6" id="viz" style="left:20px; overflow-y:scroll; height:645px;">
                            <center><h3>Emotion Tone</h3></center>
                            <div id="chartdiv1"></div>
                            <center><h3>Social Tone</h3></center>
                            <div id="chartdiv2" ></div>
                            <!--<iframe name="viz" width="900" height="645">
                                Sorry your browser does not support inline frames.
                            </iframe>-->
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        <!-- End: Visualization display section -->

                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- End: /.col-lg-12 -->
            </div>
            <!-- End: /row -->
        </div>
        <!-- End: /.container -->
    </header>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-below-indep">
             <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Big Neuron 2016
                    </div>
                    <br>
                </div>
         </div>
    </footer>



    <!-- Jquery JS -->

    <script src="../../static/js/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../../static/js/classie.js"></script>
    <script src="../../static/js/cbpAnimatedHeader.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../static/js/freelancer.js"></script>

    <script type="text/javascript">

        function changeVizById(elm) {
            //changeBackgroundColor();

            $.ajax({
                url: '/change_viz_by_id',
                data:{
                    id: $(elm).attr('id')
                },
                success: function(res){
                    console.log( "Successfully executed change_viz_by_id: " + res );
                },
                error: function(res){ console.log( "Failed to execute change_viz_by_id: " + res );}
            });

            AmCharts.makeChart("chartdiv1", {
                 "type": "pie",
                "theme":"chalk",
                "dataLoader": {
                    "url": "static/data/emotion.json",
                    "showCurtain": false,
                    "timestamp":true
                },

                "titleField": "tone_name",
                "valueField": "score",
                "fontSize": 25,
                "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
                "innerRadius": "30%",
                "pullOutEffect": "easeOutSine",
                "startEffect": "easeOutSine",
                "legend": {
                  "align": "left",
                  "markerType": "circle",
                  "valueWidth": "left",
                  "valueText" : "[[value]]",
                  "equalWidths": false,
                  "position" : "bottom",
                  "textClickEnabled": true
                }
              });

              AmCharts.makeChart("chartdiv2", {
                  "theme":"chalk",
                "type": "pie",
                "dataLoader": {
                  "url": "static/data/social.json",
                  "showCurtain": false,
                  "timestamp":true
                },
                "titleField": "tone_name",
                "valueField": "score",
                  "fontSize": 25,
                "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
                "innerRadius": "30%",
                "legend": {
                  "align": "right",
                  "markerType": "circle",
                  "valueWidth": "left",
                  "valueText" : "[[value]]",
                  "equalWidths": false,
                  "position" : "bottom",
                  "textClickEnabled": true
                }
              });
        }


  </script>

</body>

</html>
