<!DOCTYPE html>
<html lang="en">

<head>

    <!-- opacity: 0.7; -->
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Election Buzz on Trump by Big Neuron</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/freelancer.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/topic_style.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <style type="text/css">
        text {
          font-size: 11px;
          pointer-events: none;
        }

        text.parent {
          fill: #1f77b4;
        }

        circle {
          fill: #ccc;
          stroke: #999;
          pointer-events: all;
        }

        circle.parent {
          fill: #1f77b4;
          fill-opacity: .1;
          stroke: steelblue;
        }

        circle.parent:hover {
          stroke: #ff7f0e;
          stroke-width: .5px;
        }

        circle.child {
          pointer-events: none;
        }
    </style>

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{{ url_for('static', filename='js/classie.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cbpAnimatedHeader.js') }}"></script>
    

    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='js/freelancer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3.layout.js') }}"></script>
    <!--<script src="{{ url_for('static', filename='js/viz.js') }}"></script> -->
    <script type="text/javascript">
        /** The d3 visualization. **/

        var w = 1280,
            h = 800,
            r = 720,
            x = d3.scale.linear().range([0, r]),
            y = d3.scale.linear().range([0, r]),
            node,
            root;

        var pack = d3.layout.pack()
            .size([r, r])
            .value(function(d) { return d.size; })


        function show(){
          d3.select("svg").remove();
          var vis = d3.select("#topicm").insert("svg:svg", "h2")
            .attr("width", w)
            .attr("height", h)
            .append("svg:g")
            .attr("transform", "translate(" + (w - r) / 2 + "," + (h - r) / 2 + ")");
          d3.json("{{ url_for('static', filename='data/topics.json') }}", function(data) {
            node = root = data;
            var nodes = pack.nodes(root);

          vis.selectAll("circle")
              .data(nodes)
              .enter().append("svg:circle")
              .attr("class", function(d) { return d.children ? "parent" : "child"; })
              .attr("cx", function(d) { return d.x; })
              .attr("cy", function(d) { return d.y; })
              .attr("r", function(d) { return d.r; })
              .on("click", function(d) { return zoom(node == d ? root : d); });

           vis.selectAll("text")
                .data(nodes)
              .enter().append("svg:text")
                .attr("class", function(d) { return d.children ? "parent" : "child"; })
                .attr("x", function(d) { return d.x; })
                .attr("y", function(d) { return d.y; })
                .attr("dy", ".35em")
                .attr("text-anchor", "middle")
                .style("opacity", function(d) { return d.r > 20 ? 1 : 0; })
                .text(function(d) { return d.name; });

            d3.select(window).on("click", function() { zoom(root); });
          });


         function zoom(d, i) {
            var k = r / d.r / 2;
            x.domain([d.x - d.r, d.x + d.r]);
            y.domain([d.y - d.r, d.y + d.r]);

            var t = vis.transition()
                .duration(d3.event.altKey ? 7500 : 750);

            t.selectAll("circle")
                .attr("cx", function(d) { return x(d.x); })
                .attr("cy", function(d) { return y(d.y); })
                .attr("r", function(d) { return k * d.r; });

            t.selectAll("text")
                .attr("x", function(d) { return x(d.x); })
                .attr("y", function(d) { return y(d.y); })
                .style("opacity", function(d) { return k * d.r > 20 ? 1 : 0; });

            node = d;
            d3.event.stopPropagation();
          };

        }

        $( document ).ready(function() {
              show()
        });

    </script>
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
 
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('home') }}" style="padding-left:20px">Big Neuron</a>
        </div>

    </nav>

    <!-- Header -->
    <header style="height: 1000px">
        <div class="container" style="width: 100%; padding-left:50px; padding-right:50px;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text" style="padding-bottom: 5px">
                        <h2 style="padding-bottom:5px">Tweet Topic Modeling for Donald Trump</h2>
                        <hr class="star-light">
                            <div id="topicm">
                            </div>                            





                    </div>
                    <div class="row">
                        
                        
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- End: /.col-lg-12 -->
            </div>
            <!-- End: /row -->            
        </div>
        <!-- End: /.container -->
        
    </header>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>University of Colorado<br>Boulder, CO  80309</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Share Our App</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <p><br><br><br>Copyright &copy; Big Neuron 2016</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
       <!-- jQuery -->
    
</body>

</html>
