<!DOCTYPE html>
<html lang="en">

<head>

    <title>The Election Buzz on Trump by Big Neuron</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/freelancer.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
   
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <!--<script src="{{ url_for('static', filename='js/amcharts.js') }}"></script>-->
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="{{ url_for('static', filename='js/dataloader.min.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='js/serial.js') }}"></script>-->
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/serial.js"></script>

    <style>
        header {
        background: linear-gradient(25deg, #013467, #044689, #0052a5, #cc172a, #960c1a, #650912);
        background-size: 300% 300%;


        -webkit-animation: USflagintense 25s ease infinite;
        -moz-animation: USflagintense 25s ease infinite;
        -o-animation: USflagintense 25s ease infinite;
        animation: USflagintense 25s ease infinite;
        }
        /* Animations */
        @-webkit-keyframes USflagintense {
            0%{background-position:70% 0%}
            50%{background-position:31% 100%}
            100%{background-position:70% 0%}
        }
        @-moz-keyframes USflagintense {
            0%{background-position:70% 0%}
            50%{background-position:31% 100%}
            100%{background-position:70% 0%}
        }
        @-o-keyframes USflagintense {
            0%{background-position:70% 0%}
            50%{background-position:31% 100%}
            100%{background-position:70% 0%}
        }
        @keyframes USflagintense { 
            0%{background-position:70% 0%}
            50%{background-position:31% 100%}
            100%{background-position:70% 0%}
        
       }
    </style>
    <!-- amCharts javascript code -->
    <script type="text/javascript">
            AmCharts.makeChart("emotion",
                {
                    "type": "serial",
                    "categoryField": "category",
                    "angle": 30,
                    "depth3D": 30,
                    "startDuration": 1.2,
                    "categoryField":"day",
                    "colors": [ 
                        
                    ],
                    "categoryAxis": {
                        "gridPosition": "start",
                        "gridAlpha":0.2,
                        "gridColor":"transparent",
                        "axisColor":"black",
                        "axisAlpha":1,
                        "dashLength": 1,
                        "title":"Last 5 weeks - Ticks represent the days",
                        "fontSize": 15,
                        "centerLabels": true
                    },
                    "dataLoader": {
                        "url": "static/data/trump_emotion_doc.json",
                        "showCurtain": false
                      },
                    "graphs": [
                            //Add all the 5 graphs here
                            // Anger Graph
                            {   
                            "balloonText": "Day : <b>[[category]]</b>  Anger: <b>[[value]]</b>",
                            "fillAlphas": 1,
                            "id": "AmGraph-1",
                            "title": "Anger",
                            "type": "column",
                            "valueField": "anger",
                            /*"fillColors": "teal",
                            "borderAlpha":1,
                            "borderColor": "transparent", */  
                            "fillAlphas": 1

                        },
                        // Digust Graph
                        {
                            "balloonText": "Day : <b>[[category]]</b>  Disgust: <b>[[value]]</b>",
                            "fillAlphas": 1,
                            "id": "AmGraph-2",
                            "title": "Disgust",
                            "type": "column",
                            "valueField": "disgust",
                            "lineAlpha":0,
                            /*"lineColor":"purple",*/
                            "fillAlphas": 1
                        },
                        // Sadness Graph
                        {
                            "balloonText": "Day : <b>[[category]]</b> Sadness: <b>[[value]]</b>",
                            "fillAlphas": 1,
                            "id": "AmGraph-3",
                            "title": "Sadness",
                            "type": "column",
                            "valueField": "sadness",
                            "lineAlpha":0,
                            /*"lineColor":"green",*/
                            "fillAlphas": 1
                        },
                        // Fear Graph
                        {
                            "balloonText": "Day : <b>[[category]]</b>  Fear: <b>[[value]]</b>",
                            "fillAlphas": 1,
                            "id": "AmGraph-4",
                            "title": "Fear",
                            "type": "column",
                            "valueField": "fear",
                            "lineAlpha":0,
                            /*"lineColor":"yellow",*/
                            "fillAlphas": 1
                        },
                        // Joy Graph
                        {
                            "balloonText": "Day : <b>[[category]]</b>  Joy: <b>[[value]]</b>",
                            "fillAlphas": 1,
                            "id": "AmGraph-5",
                            "title": "Joy",
                            "type": "column",
                            "valueField": "joy",
                            "lineAlpha":0,
                            /*"lineColor":"blue",*/
                            "fillAlphas": 1
                        }
                    ],  //end of the graphs definition
                    "valueAxes":  [{
                            "stackType":"3d", // This line makes chart 3D stacked (columns are placed one behind another)
                            "gridAlpha":0.2,
                            "gridColor":"black",
                            "axisColor":"black",
                            "axisAlpha":1,
                            "dashLength":5,
                            "title": "Emotion Tone ",
                            "titleColor":"black",
                            "unit": "",
                            "fontSize": 15
                        }],
                   
                    "legend": {
                        "enabled": true,
                        "useGraphSettings": true,
                        "color": "black",
                        "fontSize": 15,
                        "align":"right"
                    }


                }); //end of makeChart function
    
            AmCharts.makeChart("writing", 
                {
                    "type": "serial",
                    "angle": 30,
                    "depth3D": 30,
                    "startDuration": 0,
                    "categoryField":"day",
                    "categoryAxis": {
                        "gridPosition": "start",
                        "gridAlpha":0.2,
                        "gridColor":"transparent",
                        "axisColor":"black",
                        "axisAlpha":1,
                        "dashLength": 1,
                        "title":"Last 5 weeks - Ticks represent the days",
                        "fontSize": 15,
                        "centerLabels": true
                    },
                    "trendLines": [],
                    "graphs": [
                        {
                            //
                            "balloonText": "[[title]] - [[category]]:[[value]]",
                            "id": "AmGraph-1",
                            "title": "Anger",
                            "type": "column",
                            "valueField": "anger",
                            "lineAlpha":0,
                            /*"lineColor":"blue",*/
                            "fillAlphas": 1
                        },
                        {
                            "balloonText": "[[title]] of [[category]]:[[value]]",
                            "id": "AmGraph-2",
                            "title": "Sadness",
                            "type": "column",
                            "valueField": "sadness",
                            "lineAlpha":0,
                            /*"lineColor":"blue",*/
                            "fillAlphas": 1
                        },
                        {
                            "balloonText": "[[title]] of [[category]]:[[value]]",
                            "id": "AmGraph-3",
                            "title": "Joy",
                            "type": "column",
                            "valueField": "joy",
                            "lineAlpha":0,
                            /*"lineColor":"blue",*/
                            "fillAlphas": 1
                        }
                    ],
                    "valueAxes": [
                        {
                            "id": "ValueAxis-1",
                            "stackType": "100%",
                            "gridAlpha":0.2,
                            "gridColor":"black",
                            "axisColor":"black",
                            "axisAlpha":1,
                            "dashLength":5,
                            "title": "Writing Tone ",
                            "titleColor":"black",
                            "unit": "",
                            "fontSize": 15
                        }
                    ],
                    
                    "legend": {
                        "enabled": true,
                        "useGraphSettings": true,
                        "color": "black",
                        "fontSize": 15,
                        "align":"right"
                    },
                    
                    "dataLoader": {    
                        "url": "static/data/trump_emotion_doc.json",
                        "showCurtain": false
                      }
                }
            ); //end of amcharts for writing

            AmCharts.makeChart("social",
                {
                    "type": "serial",
                    "categoryField": "date",
                    "dataDateFormat": "YYYY-MM-DD",
                    "categoryAxis": {
                        "parseDates": true
                    },
                    "chartScrollbar": {
                        "enabled": true
                    },
                    "chartCursor": {
                        "enabled": true,
                        "categoryBalloonEnabled": true
                    },
                    
                    "trendLines": [],
                    "graphs": [
                        {
                            "fillAlphas": 0.7,
                            "id": "AmGraph-1",
                            "lineAlpha": 1,
                            "title": "graph 1",
                            "valueField": "column-1"
                        },
                        {
                            "fillAlphas": 0.7,
                            "id": "AmGraph-2",
                            "lineAlpha": 1,
                            "title": "graph 2",
                            "valueField": "column-2"
                        }
                    ],
                    "valueAxes": [
                        {
                            "id": "ValueAxis-1",
                            "title": "Axis title"
                        }
                    ],
                    "legend": {
                        "enabled": true
                    },
                    
                    "dataProvider": [
                        {
                            "date": "2014-03-01",
                            "column-1": 18,
                            "column-2": 5
                        },
                        {
                            "date": "2014-03-02",
                            "column-1": 16,
                            "column-2": 7
                        },
                        {
                            "date": "2014-03-03",
                            "column-1": 2,
                            "column-2": 3
                        },
                        {
                            "date": "2014-03-04",
                            "column-1": 1,
                            "column-2": 3
                        },
                        {
                            "date": "2014-03-05",
                            "column-1": 2,
                            "column-2": 1
                        },
                        {
                            "date": "2014-03-06",
                            "column-1": 3,
                            "column-2": 2
                        },
                        {
                            "date": "2014-03-07",
                            "column-1": 6,
                            "column-2": 8
                        }
                    ]
                }); //end of social tone
    </script>

</head>

    

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
 
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('home') }}" style="padding-left:20px">Big Neuron</a>
        </div>

    </nav>

    <!-- Header -->
    <header style="height: 2300px">
        <div class="container" style="width: 100%; padding-left:50px; padding-right:50px;background-color:transparent;">
            <div class="row">
                <div class="col-lg-12" >
                    <div class="intro-text" style="padding-bottom: 5px">
                        <h2 style="padding-bottom:5px">Sentiment Analysis for Donald Trump</h2>
                        <hr class="star-light">
                        <!--span class="skills">Optional description goes here.</span-->
                    </div>
                    <div id="xyz" style="background-color:transparent;">
                         <center><h1> Emotion Tone </h1></center>
                        <div id="emotion" style="width: 100%; height:600px"></div>

                    </div>  
                 </div>
                <!-- End: /.col-lg-12 -->
            </div>
            <!-- End: /row -->   
            <div class="row">
                <center><h1> Writing Tone </h1></center>
                <div id="writing" style="width: 100%; height: 600px"></div>
            </div> 

            <div class="row">
                <center><h1> Social Tone </h1></center>
                 <div id="social" style="width: 100%; height:400px"></div>         
             </div>
        </div>
        <!-- End: /.container -->
   
    </header>



    <!-- Footer -->
        

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{{ url_for('static', filename='js/classie.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cbpAnimatedHeader.js') }}"></script>
    

    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='js/freelancer.js') }}"></script>

</body>

</html>
