<!DOCTYPE html>
<html lang="en">

<head>

    <title>The Election Buzz on Trump by Big Neuron</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/freelancer.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
   
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <script src="{{ url_for('static', filename='js/amcharts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataloader.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/serial.js') }}"></script>

    <!-- amCharts javascript code -->
    <script type="text/javascript">
            AmCharts.makeChart("chartdiv",
                {
                    "type": "serial",
                    "categoryField": "category",
                    "angle": 25,
                    "depth3D": 30,
                    "startDuration": 1,
                    "categoryField":"day",
                    "categoryAxis": {
                        "gridPosition": "start",
                        "gridAlpha":0.2,
                        "gridColor":"transparent",
                        "axisColor":"#FFFFFF",
                        "axisAlpha":0.5,
                        "dashLength": 1,
                        "title":"Last 5 weeks - Ticks represent the days",
                        "fontSize":12,
                        "centerLabels": true
                    },
                    "dataLoader": {
                        "url": "static/data/trump_emotion_doc.json",
                        "showCurtain": false
                      },
                    "graphs": [
                            //Add all the 5 graphs here
                            // Anger Graph
                            {   
                            "balloonText": "<i>[[category]]</i>  Anger: <b>[[value]]</b>",
                            "fillAlphas": 1,
                            "id": "AmGraph-1",
                            "title": "Anger",
                            "type": "column",
                            "valueField": "anger",
                            "lineAlpha":0,
                            "lineColor":"#32526f",
                            "fillAlphas": 1,
                        },
                        // Digust Graph
                        {
                            "balloonText": "<i>[[category]]</i>  Disgust: <b>[[value]]</b>",
                            "fillAlphas": 1,
                            "id": "AmGraph-2",
                            "title": "Disgust",
                            "type": "column",
                            "valueField": "disgust",
                            "lineAlpha":0,
                            "lineColor":"#D81B60",
                            "fillAlphas": 1,
                        },
                        // Sadness Graph
                        {
                            "balloonText": "<i>[[category]]</i>  Sadness: <b>[[value]]</b>",
                            "fillAlphas": 1,
                            "id": "AmGraph-3",
                            "title": "Sadness",
                            "type": "column",
                            "valueField": "sadness",
                            "lineAlpha":0,
                            "lineColor":"green",
                            "fillAlphas": 1,
                        },
                        // Fear Graph
                        {
                            "balloonText": "<i>[[category]]</i>  Fear: <b>[[value]]</b>",
                            "fillAlphas": 1,
                            "id": "AmGraph-4",
                            "title": "Fear",
                            "type": "column",
                            "valueField": "fear",
                            "lineAlpha":0,
                            "lineColor":"yellow",
                            "fillAlphas": 1,
                        },
                        // Joy Graph
                        {
                            "balloonText": "<i>[[category]]</i>  Joy: <b>[[value]]</b>",
                            "fillAlphas": 1,
                            "id": "AmGraph-5",
                            "title": "Joy",
                            "type": "column",
                            "valueField": "joy",
                            "lineAlpha":0,
                            "lineColor":"blue",
                            "fillAlphas": 1,
                        }
                    ],  //end of the graphs definition
                    "guides": [],
                    "valueAxes":  {
                            "stackType":"3d", // This line makes chart 3D stacked (columns are placed one behind another)
                            "gridAlpha":0.2,
                            "gridColor":"#FFFFFF",
                            "axisColor":"#FFFFFF",
                            "axisAlpha":0.5,
                            "dashLength":5,
                            "title": "Emotion Tone ",
                            "titleColor":"#FFFFFF",
                            "unit": "",
                            "fontSize": 12
                        },
                    
               
                    "allLabels": [],
                    "balloon": {},
                    "legend": {
                        "enabled": true,
                        "useGraphSettings": true,
                        "color": "#FFFFFF",
                        "fontSize": 14,
                        "align":"right"

                    }
                    /*"titles": [
                        {
                            "id": "Title-1",
                            "size": 15,
                            "text": "Chart Title"
                        }
                    ]*/
                }); //end of makeChart function
                    



            /*AmCharts.ready(function () {
                // SERIAL CHART
                //chart = new AmCharts.AmSerialChart();
                //chart.dataProvider = chartData;
                chart.categoryField = "day";
                chart.color = "#FFFFFF";
                chart.fontSize = 10;
                chart.startDuration = 1.5;
                chart.plotAreaFillAlphas = 0.2;
                // the following two lines makes chart 3D
                chart.angle = 25;
                chart.depth3D = 80;
                //chart.legend.enabled = true;

               /* var legend = new AmCharts.AmLegend();
                chart.addLegend(legend);
                legend.color = "#FFFFFF"
                legend.fontSize = 14
                legend.align = "right"

                // AXES
                // category
                var categoryAxis = chart.categoryAxis;
                categoryAxis.gridAlpha = 0.2;
                categoryAxis.gridPosition = "start";
                categoryAxis.gridColor = "#FFFFFF";
                categoryAxis.axisColor = "#FFFFFF";
                categoryAxis.axisAlpha = 0.5;
                categoryAxis.dashLength = 1;
                categoryAxis.title = "Last 5 weeks - Ticks represent the days";
                categoryAxis.fontSize = 12;
                categoryAxis.centerLabels = true;

                // value
                var valueAxis = new AmCharts.ValueAxis();
                valueAxis.stackType = "3d"; // This line makes chart 3D stacked (columns are placed one behind another)
                valueAxis.gridAlpha = 0.2;
                valueAxis.gridColor = "#FFFFFF";
                valueAxis.axisColor = "#FFFFFF";
                valueAxis.axisAlpha = 0.5;
                valueAxis.dashLength = 5;
                valueAxis.title = "Emotion Tone ";
                valueAxis.titleColor = "#FFFFFF";
                valueAxis.unit = "";
                valueAxis.fontSize = 12;
                chart.addValueAxis(valueAxis);

                // GRAPHS
                // first graph
                var graph1 = new AmCharts.AmGraph();
                graph1.title = "Anger";
                graph1.valueField = "anger";
                graph1.type = "column";
                graph1.lineAlpha = 0;
                graph1.lineColor = "#32526f";
                graph1.fillAlphas = 1;
                graph1.balloonText = "<i>[[category]]</i>  Anger: <b>[[value]]</b>";
                chart.addGraph(graph1);

                // second graph
                var graph2 = new AmCharts.AmGraph();
                graph2.title = "Fear";
                graph2.valueField = "fear";
                graph2.type = "column";
                graph2.lineAlpha = 0;
                graph2.lineColor = "#D81B60";
                graph2.fillAlphas = 1;
                graph2.balloonText = "fear: <b>[[value]]</b>";
                chart.addGraph(graph2);
        
                // third graph
                var graph2 = new AmCharts.AmGraph();
                graph2.title = "Disgust";
                graph2.valueField = "disgust";
                graph2.type = "column";
                graph2.lineAlpha = 0;
                graph2.lineColor = "#FFB300";
                graph2.fillAlphas = 1;
                graph2.balloonText = "<i>[[category]]</i> Disgust: <b>[[value]]</b>";
                chart.addGraph(graph2);

                // fourth graph
                var graph2 = new AmCharts.AmGraph();
                graph2.title = "Joy";
                graph2.valueField = "joy";
                graph2.type = "column";
                graph2.lineAlpha = 0;
                graph2.lineColor = "#FF1744";
                graph2.fillAlphas = 1;
                graph2.balloonText = "Joy: <b>[[value]]</b>";
                chart.addGraph(graph2);

                // fifth graph
                var graph2 = new AmCharts.AmGraph();
                graph2.title = "sadness";
                graph2.valueField = "sadness";
                graph2.type = "column";
                graph2.lineAlpha = 0;
                graph2.lineColor = "#5E35B1";
                graph2.fillAlphas = 1;
                graph2.balloonText = "sadness: <b>[[value]]</b>";
                chart.addGraph(graph2);

                chart.write("chartdiv");
            });*/
     </script>

</head>

    

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
 
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('home') }}" style="padding-left:20px">Big Neuron</a>
        </div>

    </nav>

    <!-- Header -->
    <header style="height: 1000px">
        <div class="container" style="width: 100%; padding-left:50px; padding-right:50px;">
            <div class="row">
                <div class="col-lg-12" >
                    <div class="intro-text" style="padding-bottom: 5px">
                        <h2 style="padding-bottom:5px">Sentiment Analysis for Donald Trump</h2>
                        <hr class="star-light">
                        <!--span class="skills">Optional description goes here.</span-->
                    </div>
                    <div id="xyz" style="background-color:transparent;">
                         <center><h1> Emotion Tone </h1></center>
                        <div id="chartdiv" style="width: 100%; height: 600px;"></div>
                    </div>  
                 </div>
                <!-- End: /.col-lg-12 -->
            </div>
            <!-- End: /row -->            
        </div>
        <!-- End: /.container -->
   
    </header>px



    <!-- Footer -->
        

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{{ url_for('static', filename='js/classie.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cbpAnimatedHeader.js') }}"></script>
    

    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='js/freelancer.js') }}"></script>

</body>

</html>
