<!DOCTYPE html>
<html lang="en">

<head>

    <title>The Election Buzz on Trump by Big Neuron</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/freelancer.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
   
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <script src="{{ url_for('static', filename='js/amcharts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/serial.js') }}"></script>

    <script>
            var chart;

            var chartData = [{"joy": 37.93927611641603, "sadness": 16.306199921938507, "disgust": 8.16120443409149, "anger": 7.850052331030436, "fear": 29.743267196523526, "day": "1"}, 
    {"joy": 24.265430999688746, "sadness": 14.54716360347416, "disgust": 27.90294342658706, "anger": 16.12151119963804, "fear": 17.162950770612, "day": 2}, 
    {"joy": 21, "sadness": 31, "disgust": 26, "anger": 17, "fear": 6, "day": 3},
    {"joy": 22, "sadness": 33, "disgust": 26.937008637270353, "anger": 11.761584809015819, "fear": 6.527822418129594, "day": 4},
    {"joy": 24.1388238415191, "sadness": 30.63476029406512, "disgust": 26.937008637270353, "anger": 11.761584809015819, "fear": 6.527822418129594, "day": 5},
    {"joy": 24.1388238415191, "sadness": 30.63476029406512, "disgust": 26.937008637270353, "anger": 11.761584809015819, "fear": 6.527822418129594, "day": 6},
    {"joy": 24.1388238415191, "sadness": 30.63476029406512, "disgust": 26.937008637270353, "anger": 11.761584809015819, "fear": 6.527822418129594, "day": 7},
    {"joy": 24.1388238415191, "sadness": 30.63476029406512, "disgust": 26.937008637270353, "anger": 11.761584809015819, "fear": 6.527822418129594, "day": 8},
    {"joy": 24.1388238415191, "sadness": 30.63476029406512, "disgust": 26.937008637270353, "anger": 11.761584809015819, "fear": 6.527822418129594, "day": 9},
    {"joy": 24.1388238415191, "sadness": 30.63476029406512, "disgust": 26.937008637270353, "anger": 11.761584809015819, "fear": 6.527822418129594, "day": 10},
    {"joy": 24.1388238415191, "sadness": 30.63476029406512, "disgust": 26.937008637270353, "anger": 11.761584809015819, "fear": 6.527822418129594, "day": 11},
    {"joy": 24.1388238415191, "sadness": 30.63476029406512, "disgust": 26.937008637270353, "anger": 11.761584809015819, "fear": 6.527822418129594, "day": 12},
    {"joy": 24.1388238415191, "sadness": 30.63476029406512, "disgust": 26.937008637270353, "anger": 11.761584809015819, "fear": 6.527822418129594, "day": 13},
    {"joy": 24.1388238415191, "sadness": 30.63476029406512, "disgust": 26.937008637270353, "anger": 11.761584809015819, "fear": 6.527822418129594, "day": 14},
    {"joy": 24.1388238415191, "sadness": 30.63476029406512, "disgust": 26.937008637270353, "anger": 11.761584809015819, "fear": 6.527822418129594, "day": 15},
    {"joy": 24.1388238415191, "sadness": 30.63476029406512, "disgust": 26.937008637270353, "anger": 11.761584809015819, "fear": 6.527822418129594, "day": 16},
    {"joy": 24.1388238415191, "sadness": 30.63476029406512, "disgust": 26.937008637270353, "anger": 11.761584809015819, "fear": 6.527822418129594, "day": 17},
    {"joy": 24.1388238415191, "sadness": 30.63476029406512, "disgust": 26.937008637270353, "anger": 11.761584809015819, "fear": 6.527822418129594, "day": 18},
    {"joy": 24.1388238415191, "sadness": 30.63476029406512, "disgust": 26.937008637270353, "anger": 11.761584809015819, "fear": 6.527822418129594, "day": 19},
    {"joy": 24.1388238415191, "sadness": 30.63476029406512, "disgust": 26.937008637270353, "anger": 11.761584809015819, "fear": 6.527822418129594, "day": 20},
    {"joy": 24.1388238415191, "sadness": 30.63476029406512, "disgust": 26.937008637270353, "anger": 11.761584809015819, "fear": 6.527822418129594, "day": 21},
    {"joy": 24.1388238415191, "sadness": 30.63476029406512, "disgust": 26.937008637270353, "anger": 11.761584809015819, "fear": 6.527822418129594, "day": 22},
    {"joy": 24.1388238415191, "sadness": 30.63476029406512, "disgust": 26.937008637270353, "anger": 11.761584809015819, "fear": 6.527822418129594, "day": 23},
    {"joy": 24.1388238415191, "sadness": 30.63476029406512, "disgust": 26.937008637270353, "anger": 11.761584809015819, "fear": 6.527822418129594, "day": 24},
    {"joy": 24.1388238415191, "sadness": 30.63476029406512, "disgust": 26.937008637270353, "anger": 11.761584809015819, "fear": 6.527822418129594, "day": 25},
    {"joy": 24.1388238415191, "sadness": 21.63476029406512, "disgust": 26.937008637270353, "anger": 11.761584809015819, "fear": 6.527822418129594, "day": 26},
    {"joy": 24.1388238415191, "sadness": 30.63476029406512, "disgust": 24.937008637270353, "anger": 11.761584809015819, "fear": 6.527822418129594, "day": 27},
    {"joy": 24.1388238415191, "sadness": 30.63476029406512, "disgust": 26.937008637270353, "anger": 11.761584809015819, "fear": 6.527822418129594, "day": 28},
    {"joy": 24.1388238415191, "sadness": 30.63476029406512, "disgust": 26.937008637270353, "anger": 11.761584809015819, "fear": 6.527822418129594, "day": 29},
    {"joy": 24.1388238415191, "sadness": 30.63476029406512, "disgust": 26.937008637270353, "anger": 11.761584809015819, "fear": 6.527822418129594, "day": 30},
    {"joy": 24.1388238415191, "sadness": 30.63476029406512, "disgust": 26.937008637270353, "anger": 11.761584809015819, "fear": 6.527822418129594, "day": 31},
    {"joy": 24.1388238415191, "sadness": 30.63476029406512, "disgust": 26.937008637270353, "anger": 11.761584809015819, "fear": 6.527822418129594, "day": 32},
    {"joy": 24.1388238415191, "sadness": 30.63476029406512, "disgust": 26.937008637270353, "anger": 11.761584809015819, "fear": 6.527822418129594, "day": 33},
    {"joy": 24.1388238415191, "sadness": 30.63476029406512, "disgust": 26.937008637270353, "anger": 11.761584809015819, "fear": 6.527822418129594, "day": 34},
    {"joy": 24.1388238415191, "sadness": 30.63476029406512, "disgust": 26.937008637270353, "anger": 11.761584809015819, "fear": 6.527822418129594, "day": 35}];

            console.log(AmCharts)

            AmCharts.ready(function () {
                // SERIAL CHART
                chart = new AmCharts.AmSerialChart();
                chart.dataProvider = chartData;
                chart.categoryField = "day";
                chart.color = "#FFFFFF";
                chart.fontSize = 10;
                chart.startDuration = 1.5;
                chart.plotAreaFillAlphas = 0.2;
                // the following two lines makes chart 3D
                chart.angle = 25;
                chart.depth3D = 80;
                //chart.legend.enabled = true;

                var legend = new AmCharts.AmLegend();
                chart.addLegend(legend);
                legend.color = "#FFFFFF"
                legend.fontSize = 14
                legend.align = "right"

                // AXES
                // category
                var categoryAxis = chart.categoryAxis;
                categoryAxis.gridAlpha = 0.2;
                categoryAxis.gridPosition = "start";
                categoryAxis.gridColor = "#FFFFFF";
                categoryAxis.axisColor = "#FFFFFF";
                categoryAxis.axisAlpha = 0.5;
                categoryAxis.dashLength = 1;
                categoryAxis.title = "Last 5 weeks - Ticks represent the days";
                categoryAxis.fontSize = 12;
                categoryAxis.centerLabels = true;

                // value
                var valueAxis = new AmCharts.ValueAxis();
                valueAxis.stackType = "3d"; // This line makes chart 3D stacked (columns are placed one behind another)
                valueAxis.gridAlpha = 0.2;
                valueAxis.gridColor = "#FFFFFF";
                valueAxis.axisColor = "#FFFFFF";
                valueAxis.axisAlpha = 0.5;
                valueAxis.dashLength = 5;
                valueAxis.title = "Emotion Tone ";
                valueAxis.titleColor = "#FFFFFF";
                valueAxis.unit = "";
                valueAxis.fontSize = 12;
                chart.addValueAxis(valueAxis);

                // GRAPHS
                // first graph
                var graph1 = new AmCharts.AmGraph();
                graph1.title = "Anger";
                graph1.valueField = "anger";
                graph1.type = "column";
                graph1.lineAlpha = 0;
                graph1.lineColor = "#32526f";
                graph1.fillAlphas = 1;
                graph1.balloonText = "<i>[[category]]</i>  Anger: <b>[[value]]</b>";
                chart.addGraph(graph1);

                // second graph
                var graph2 = new AmCharts.AmGraph();
                graph2.title = "Fear";
                graph2.valueField = "fear";
                graph2.type = "column";
                graph2.lineAlpha = 0;
                graph2.lineColor = "#D81B60";
                graph2.fillAlphas = 1;
                graph2.balloonText = "fear: <b>[[value]]</b>";
                chart.addGraph(graph2);
        
                // third graph
                var graph2 = new AmCharts.AmGraph();
                graph2.title = "Disgust";
                graph2.valueField = "disgust";
                graph2.type = "column";
                graph2.lineAlpha = 0;
                graph2.lineColor = "#FFB300";
                graph2.fillAlphas = 1;
                graph2.balloonText = "<i>[[category]]</i> Disgust: <b>[[value]]</b>";
                chart.addGraph(graph2);

                // fourth graph
                var graph2 = new AmCharts.AmGraph();
                graph2.title = "Joy";
                graph2.valueField = "joy";
                graph2.type = "column";
                graph2.lineAlpha = 0;
                graph2.lineColor = "#FF1744";
                graph2.fillAlphas = 1;
                graph2.balloonText = "Joy: <b>[[value]]</b>";
                chart.addGraph(graph2);

                // fifth graph
                var graph2 = new AmCharts.AmGraph();
                graph2.title = "sadness";
                graph2.valueField = "sadness";
                graph2.type = "column";
                graph2.lineAlpha = 0;
                graph2.lineColor = "#5E35B1";
                graph2.fillAlphas = 1;
                graph2.balloonText = "sadness: <b>[[value]]</b>";
                chart.addGraph(graph2);

                chart.write("chartdiv");
            });
        </script>
    </head>

    

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
 
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('home') }}" style="padding-left:20px">Big Neuron</a>
        </div>

    </nav>

    <!-- Header -->
    <header style="height: 1000px">
        <div class="container" style="width: 100%; padding-left:50px; padding-right:50px;">
            <div class="row">
                <div class="col-lg-12" >
                    <div class="intro-text" style="padding-bottom: 5px">
                        <h2 style="padding-bottom:5px">Document-Level Twitter Sentiment Analysis for Donald Trump</h2>
                        <hr class="star-light">
                        <!--span class="skills">Optional description goes here.</span-->
                    </div>
                    <div id="xyz" style="background-color:black;">
                         <p> This is where the bar chart needs to be displayed </p>
                        <center><h1 style="color:gray"> Stacked 3D Bar - Openness vs Extraversion </h1></center>
                        <div id="chartdiv" style="width: 100%; height: 600px;"></div>
                    </div>  
                 </div>
                <!-- End: /.col-lg-12 -->
            </div>
            <!-- End: /row -->            
        </div>
        <!-- End: /.container -->
   
    </header>px



    <!-- Footer -->
        

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{{ url_for('static', filename='js/classie.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cbpAnimatedHeader.js') }}"></script>
    

    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='js/freelancer.js') }}"></script>

</body>

</html>
