<!-- Authors - 
        Jessica Lynch
        Tanvi Parikh
    Purpose - 
        Integration of Flask with Webapp
-->


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Big Neuron - 2016 Big Data Project</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/freelancer.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <!-- TOP Nav Bar -->
    <nav class="navbar navbar-default navbar-fixed-top" style="padding-right: 20px; background: transparent">
        <!-- Responsive Design -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#page-top" style="padding: 20px">Big Neuron</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" style="padding-right: 20px; ">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <!-- BOTTOM Nav bar -->
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" style="height: 20px;padding-right: 20px">
                 <li class="page-scroll">
                    <a href="#about">About</a>
                </li>
                <li class="page-scroll">
                    <a href="#team">Team</a>
                </li>
            </ul>
            
        </div>
        <!-- /.navbar-collapse -->
    </nav>
    <!-- Header  >-->
    <header>
        <!-- Carousel -->
                 <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="3000" id="bs-carousel">
                  <!-- Overlay -->
                    <div class="overlay">
                        <div class="container">
                            <div class="row" >
                                <div class="col-lg-12">
                                    
                                   <!-- INTRO TEXT -->
                                    <div class="intro-text">
                                        <span class="name" style="padding-top: 0px;opacity: 0.6">Electionitics</span>
                                    </div>
                                    <div style="padding-top: 430px"> <!-- JESS CHANGE: originally was: <div style="padding-top: 230px">-->
                                        <h3>Visualize how the world feels about ...</h3>
                                        <!-- CANDIDATE RADIO BUTTONS -->
                                        <form class="form-inline" action="{{ url_for('select_candidate') }}" method="post">
                                            <div class="form-group" style="background: black; padding-top:10px;border-radius: 25px; padding-bottom:10px; padding-left:40px;padding-right:40px;opacity: 0.7">
                                                <div class="radio-inline" style="font-size: 30px">
                                                    <label><input type="radio" name="candidate" id="radio0" value="clinton" style="width:20px; height:20px;top:8px">&nbsp;Clinton&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                                </div>
                                                <div class="radio-inline" style="font-size: 30px">
                                                    <label><input type="radio" name="candidate" id="radio1" value="cruz" style="width:20px; height:20px;top:8px">&nbsp;Cruz&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                                </div>
                                                <div class="radio-inline" style="font-size: 30px">
                                                    <label><input type="radio" name="candidate" id="radio2" value="kasich" style="width:20px; height:20px;top:8px">&nbsp;Kasich&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                                </div>
                                                <div class="radio-inline" style="font-size: 30px">
                                                    <label><input type="radio" name="candidate" id="radio3" value="sanders" style="width:20px; height:20px;top:8px">&nbsp;Sanders&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                                </div>
                                                <div class="radio-inline" style="font-size: 30px">
                                                    <label><input type="radio" name="candidate" id="radio4" value="trump" style="width:20px; height:20px;top:8px">&nbsp;Trump&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                                </div>
                                            </div> <!-- end of form group -->

                                            
                                            <div class="row" style="padding: 25px 0"> <!-- JESS CHANGE: originally was: <div class="row">-->
                                               <!-- JESS CHANGE: I added width:110px; height:48px to style for each button below so they are now equal dimensions despite text length.  I added margin-left: 1em for rightmost button to create larger space between the two buttons. -->
                                               <input type="submit" class="btn btn-default" style="font-size: 30px; width:150px; height:68px" role="button" name="action" value="Submit">
                                               <input type="submit" class="btn btn-default" style="font-size: 30px; width:150px; height:68px; margin-left: 1em;" role="button"name="action" value="Realtime">

                                            </div> <!-- /row -->
                                        
                                        </div> <!-- This /div is needed for carousel!!! -->           
                                        </form><!-- end of stupid form-->   
                                    </div>         
                                </div>
                                <!-- /col-lg-12 -->
                        </div>
                        <!-- /container -->
                    </div>
                                              
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                  <!-- 1st Slide-->
                    <div class="item slides active"> <!-- First Slide-->
                        <div class="slide-1">
                            <img src="static/BigDataGif/CruzHappy.gif" alt="HTML5 Icon 1" width="100%" height="100%">
                        </div>
                        <div class="hero">
                        <hgroup>
                            <h2>Ted Cruz</h2>
                        </hgroup>
                        <!-- <button class="btn btn-hero btn-lg" role="button">See all features</button> -->
                        </div>
                    </div>
                    <!-- 2nd Slide-->
                    <div class="item slides">
                        <div class="slide-2">
                            <img src="static/BigDataGif/CruzAngry.gif" alt="HTML5 Icon 2" width="100%" height="100%">
                        </div>
                        <div class="hero">        
                        <hgroup>
                            <h2>Ted Cruz</h2>
                        </hgroup>       
                        </div>
                    </div>
                    <!-- 3rd Slide-->
                    <div class="item slides">
                        <div class="slide-3">
                            <img src="static/BigDataGif/TrumpHappy.gif" alt="HTML5 Icon 3" width="100%" height="100%">
                        </div>
                        <div class="hero">        
                        <hgroup>
                            <h2>Donald Trump</h2>
                        </hgroup>
                        </div>
                    </div>
                     <!-- 4th Slide-->
                    <div class="item slides">
                        <div class="slide-4">
                            <img src="static/BigDataGif/TrumpAngry.gif" alt="HTML5 Icon 4" width="100%" height="100%">
                        </div>
                        <div class="hero">        
                        <hgroup>
                            <h2>Donald Trump</h2>
                        </hgroup>
                        </div>
                    </div>
                     <!-- 5th Slide-->
                    <div class="item slides">
                        <div class="slide-5">
                            <img src="static/BigDataGif/HillaryHappy.gif" alt="HTML5 Icon " width="100%" height="100%">
                        </div>
                        <div class="hero">        
                        <hgroup>
                            <h2>Hillary Clinton</h2>
                        </hgroup>
                        </div>
                    </div>
                     <!-- 6th Slide-->
                    <div class="item slides">
                        <div class="slide-6">
                            <img src="static/BigDataGif/HillaryAngry.gif" alt="HTML5 Icon 4" width="100%" height="100%">
                        </div>
                        <div class="hero">        
                        <hgroup>
                            <h2>Hillary Clinton</h2>
                        </hgroup>
                        </div>
                    </div>
                     <!-- 7th Slide-->
                    <div class="item slides">
                        <div class="slide-7">
                            <img src="static/BigDataGif/KasichHappy.gif" alt="HTML5 Icon 5" width="100%" height="100%">
                        </div>
                        <div class="hero">        
                        <hgroup>
                            <h2>John Kasich</h2>
                        </hgroup>
                        </div>
                    </div>
                     <!-- 8th Slide-->
                    <div class="item slides">
                        <div class="slide-8">
                            <img src="static/BigDataGif/KasichAngry.gif" alt="HTML5 Icon 6" width="100%" height="100%">
                        </div>
                        <div class="hero">        
                        <hgroup>
                            <h2>John Kasich</h2>
                        </hgroup>
                        </div>
                    </div>
                     <!-- 9th Slide-->
                    <div class="item slides">
                        <div class="slide-9">
                            <img src="static/BigDataGif/SandersAngry.gif" alt="HTML5 Icon 7" width="100%" height="100%">
                        </div>
                        <div class="hero">        
                        <hgroup>
                            <h2>Bernie Sanders</h2>
                        </hgroup>
                        </div>
                    </div>
                   </div> <!--- End of Carousel Inner -->
                </div> <!-- End of main Carousel -->
    </header>
<!-- Header -->
    
    <!-- Team Member Portfolio Grid Section -->
    <section id="team">
        <div class="container">
            <div class="row" style="padding-bottom: 30px;">
                <div class="col-lg-12 text-center">
                    <h2>The Team</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a target="_blank" href="https://www.linkedin.com/in/tanviparikh91" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <h4 style="margin-top:150px; font-size:24px">Tanvi Parikh</h4>
                            </div>
                        </div>
                        <img src="{{ url_for('static', filename='img/team/tanvi.png') }}"  class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a target="_blank" href="https://www.linkedin.com/in/piyushpatel90" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <h4 style="margin-top:150px; font-size:24px">Piyush Patel</h4>
                            </div>
                        </div>
                        <img src="{{ url_for('static', filename='img/team/piyush.png') }}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a target="_blank" href="https://www.linkedin.com/in/kahiniwadhawan" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <h4 style="margin-top:150px; font-size:24px">Kahini Wadhawan</h4>
                            </div>
                        </div>
                        <img src="{{ url_for('static', filename='img/team/kahini.png') }}"  class="img-responsive" alt="">
                    </a>
                </div>
            </div> <!-- ./row -->
            <div class="row" style="width: 100%; margin-left: 190px">
                <div class="col-sm-4 portfolio-item">
                    <a target="_blank" href="https://www.linkedin.com/in/jessicalynchcsci" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <h4 style="margin-top:150px; font-size:24px">Jessica Lynch</h4>
                            </div>
                        </div>
                        <img src="{{ url_for('static', filename='img/team/jessica.png') }}"  class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a target="_blank" href="https://www.linkedin.com/in/michael-muehlbradt-22642011b" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <h4 style="margin-top:150px; font-size:24px">Michael Muehlbradt</h4>
                            </div>
                        </div>
                        <img src="{{ url_for('static', filename='img/team/mike.png') }}"  class="img-responsive" alt="">
                    </a>
                </div>
                <!-- Original div per teammate -->
                <!--div class="col-sm-4 portfolio-item">
                    <a href="" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="static/img/team/generic.png" class="img-responsive" alt="">
                    </a>
                </div-->
                
            </div> <!-- ./row -->
        </div>
    </section>

    <!-- The Project Description Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>The Project</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row" style="padding-bottom: 30px;">
                <div class="col-lg-12 text-center">
                    <p style="font-size: 30px; font-weight: bold; padding-bottom:15px;">Election Buzz powered by Big Neuron is an interactive web application that<br>allows the user to visualize big data pertaining to the 2016 Presidential Election, which is collected from Twitter and analyzed in our system.  The data visualized in our application is based on the user's selected candidate.</p>
                    <p style="font-size: 30px; font-weight: bold;">Requirements for our project are as follows:</p>
                </div>
            </div>
        </div> <!-- ./container -->
        <div class="container" style="width:2000px; margin:auto;">
            <div class="row" >
                <div class="col-lg-4" style="width:500px">
                    <h4 style="font-size:26px;">Data Processing</h4>
                    <ul style="font-size:20px;">
                        <li>Tweepy API to pull Twitter data (realtime and batch processing)</li>
                        <li>Cassandra to ensure data persistence</li>
                        <li>Spark Streaming to generate realtime data</li>
                        <li>list item 1 Aenean commodo ligula eget dolor.</li>
                        <li>list item 2 Aenean commodo ligula eget dolor.</li>
                        <li>list item 3 Aenean commodo ligula eget dolor.</li>
                        <li>list item 4 Aenean commodo ligula eget dolor.</li>
                    </ul>
                </div>                
                <div class="col-lg-4" style="width:500px">
                    <h4 style="font-size: 26px;">Data Analytics</h4>
                    <ul style="font-size:20px;">
                        <li>list item 1 Aenean commodo ligula eget dolor.</li>
                        <li>list item 2 Aenean commodo ligula eget dolor.</li>
                        <li>list item 3 Aenean commodo ligula eget dolor.</li>
                        <li>list item 4 Aenean commodo ligula eget dolor.</li>
                        <li>list item 5 Aenean commodo ligula eget dolor.</li>
                        <li>list item 6 Aenean commodo ligula eget dolor.</li>
                        <li>list item 7 Aenean commodo ligula eget dolor.</li>
                        <li>list item 8 Aenean commodo ligula eget dolor.</li>
                        <li>list item 9 Aenean commodo ligula eget dolor.</li>
                    </ul>
                </div>
                <div class="col-lg-4" style="width:500px">
                    <h4 style="font-size: 26px;">Visualization</h4>
                    <ul style="font-size:20px;">
                        <li>list item 1 Aenean commodo ligula eget dolor.</li>
                        <li>list item 2 Aenean commodo ligula eget dolor.</li>
                        <li>list item 3 Aenean commodo ligula eget dolor.</li>
                        <li>list item 4 Aenean commodo ligula eget dolor.</li>
                        <li>list item 5 Aenean commodo ligula eget dolor.</li>
                        <li>list item 6 Aenean commodo ligula eget dolor.</li>
                        <li>list item 7 Aenean commodo ligula eget dolor.</li>
                        <li>list item 8 Aenean commodo ligula eget dolor.</li>
                        <li>list item 9 Aenean commodo ligula eget dolor.</li>
                    </ul>
                </div> 
                <div class="col-lg-4" style="width:500px">
                    <h4 style="font-size: 26px;">Deployment</h4>
                    <ul style="font-size:20px;">
                        <li>list item 1 Aenean commodo ligula eget dolor.</li>
                        <li>list item 2 Aenean commodo ligula eget dolor.</li>
                        <li>list item 3 Aenean commodo ligula eget dolor.</li>
                        <li>list item 4 Aenean commodo ligula eget dolor.</li>
                        <li>list item 5 Aenean commodo ligula eget dolor.</li>
                        <li>list item 6 Aenean commodo ligula eget dolor.</li>
                        <li>list item 7 Aenean commodo ligula eget dolor.</li>
                        <li>list item 8 Aenean commodo ligula eget dolor.</li>
                        <li>list item 9 Aenean commodo ligula eget dolor.</li>
                    </ul>
                </div>
            </div> <!-- ./row -->
        </div> <!-- ./container -->
            <div class="row" style="margin:auto">
                <div class="container" style="width:925px; margin:auto;">
                    <h3 align="middle" style="padding-top: 30px; padding-bottom:10px; text-align: center;">Big Neuron Pipeline</h3>
                    <img src="static/img/pipeline.png" align="middle" alt="" style="padding: 30px 0px;">
                </div>
            </div>
            <div class="row" style="margin:auto">
                <div class="container" style="width:300px; margin:auto; text-align: center;">
                    <a href="https://github.com/CUBigDataClass/Big-Neuron" class="btn btn-lg btn-outline" target="_blank" style="font-weight:bold; font-size:22px; color:#ffffff;">View On Github</a>
                </div>
            </div>
    </section>

    
    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-below">
             <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Big Neuron 2016
                    </div>
                    <br>
                </div>
         </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
  
    
    <script type=text/javascript src="{{
       url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../static/js/classie.js"></script>
    <script src="../static/js/cbpAnimatedHeader.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../static/js/freelancer.js"></script>
    
    <!-- Candidate Radio Button Javascript-->
    <script src="../static/js/candidate_selection.js"></script>

</body>

</html>