<!DOCTYPE html>

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <script type="text/javascript" src="/static/d3.js"></script>
        <script type="text/javascript" src="/static/d3.layout.cloud.js"></script>
        <script type="text/javascript" src="/static/jquery.min.js"></script>
</head>
<body>
        <div id="vis"></div>
        <script type="text/javascript" src="/static/word-cloud.js"></script>
        <div id="blah" style="background-color:blue">
            <br><br><br><br>
            <p> Hi wassssup </p>
        </div>   
</body>
</html>

