<!DOCTYPE html>
<html lang="en">

<head>

    <!-- opacity: 0.7; -->
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Election Buzz on Cruz by Big Neuron</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/freelancer.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    
    <!-- Jquery JS -->
    <!-- <script src="../dist/js/jquery-1.12.0.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
 
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('home') }}" style="padding-left:20px">Big Neuron</a>
        </div>

    </nav>

    <!-- Header -->
    <header style="height: 1000px">
        <div class="container" style="width: 100%; height:1000; padding-left:50px; padding-right:50px; background-color: #18bc9c">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text" style="padding-top: 5px; padding-bottom: 30px">
                        <h2 style="padding-bottom:10px">Tweet-Level Sentiment Analysis for Ted Cruz</h2>
                        <hr class="star-light">
                        <span class="skills">See the sentiment surrounding a single Tweet.</span>
                    </div>
                    <div class="row">
                        <div class="col-lg-6" style="overflow-y:scroll; height:645px;">
                            <form role="form">
                                <div class="form-group" >
                                    <div class="radio-button"  >
                                        <div style="height:500px; color:#000000; text-align:left; padding-left:5px;">
                                            <div class="radio">
                                                <label style="background-color: #cccccc; padding:3px 3px;" id="lbl0" onclick="changeBackgroundColor()">
                                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label style="background-color:#cccccc; padding:3px 3px;" id="lbl1" onclick="changeBackgroundColor()">
                                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label style="background-color:#cccccc; padding:3px 3px;" id="lbl2" onclick="changeBackgroundColor()">
                                                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label style="background-color:#cccccc; padding:3px 3px;" id="lbl3" onclick="changeBackgroundColor()">
                                                    <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label style="background-color:#cccccc; padding:3px 3px;" id="lbl4" onclick="changeBackgroundColor()">
                                                    <input type="radio" name="optionsRadios" id="optionsRadios5" value="option5">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label style="background-color:#cccccc; padding:3px 3px;" id="lbl5" onclick="changeBackgroundColor()">
                                                    <input type="radio" name="optionsRadios" id="optionsRadios6" value="option6">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label style="background-color:#cccccc; padding:3px 3px;" id="lbl6" onclick="changeBackgroundColor()">
                                                    <input type="radio" name="optionsRadios" id="optionsRadios7" value="option7">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label style="background-color:#cccccc; padding:3px 3px;" id="lbl7" onclick="changeBackgroundColor()">
                                                    <input type="radio" name="optionsRadios" id="optionsRadios8" value="option8">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label style="background-color:#cccccc; padding:3px 3px;" id="lbl8" onclick="changeBackgroundColor()">
                                                    <input type="radio" name="optionsRadios" id="optionsRadios9" value="option9">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label style="background-color:#cccccc; padding:3px 3px;" id="lbl9" onclick="changeBackgroundColor()">
                                                    <input type="radio" name="optionsRadios" id="optionsRadios10" value="option10">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label style="background-color:#cccccc; padding:3px 3px;" id="lbl10" onclick="changeBackgroundColor()">
                                                    <input type="radio" name="optionsRadios" id="optionsRadios11" value="option11">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label style="background-color:#cccccc; padding:3px 3px;" id="lbl11" onclick="changeBackgroundColor()">
                                                    <input type="radio" name="optionsRadios" id="optionsRadios12" value="option12">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label style="background-color:#cccccc; padding:3px 3px;" id="lbl12" onclick="changeBackgroundColor()">
                                                    <input type="radio" name="optionsRadios" id="optionsRadios13" value="option13">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label style="background-color:#cccccc; padding:3px 3px;" id="lbl13" onclick="changeBackgroundColor()">
                                                    <input type="radio" name="optionsRadios" id="optionsRadios14" value="option14">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label style="background-color:#cccccc; padding:3px 3px;" id="lbl14" onclick="changeBackgroundColor()">
                                                    <input type="radio" name="optionsRadios" id="optionsRadios15" value="option15">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label style="background-color:#cccccc; padding:3px 3px;" id="lbl15" onclick="changeBackgroundColor()">
                                                    <input type="radio" name="optionsRadios" id="optionsRadios16" value="option16">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label style="background-color:#cccccc; padding:3px 3px;" id="lbl16" onclick="changeBackgroundColor()">
                                                    <input type="radio" name="optionsRadios" id="optionsRadios17" value="option17">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label style="background-color:#cccccc; padding:3px 3px;" id="lbl17" onclick="changeBackgroundColor()">
                                                    <input type="radio" name="optionsRadios" id="optionsRadios18" value="option18">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label style="background-color:#cccccc; padding:3px 3px;" id="lbl18" onclick="changeBackgroundColor()">
                                                    <input type="radio" name="optionsRadios" id="optionsRadios19" value="option19">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label style="background-color:#cccccc; padding:3px 3px;" id="lbl19" onclick="changeBackgroundColor()">
                                                    <input type="radio" name="optionsRadios" id="optionsRadios20" value="option20">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- End: radio-button-->
                                </div>
                                <!-- End: form-group -->
                            </form>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        
                        <!-- Visualization display section -->
                        <div class="col-lg-6" style="overflow-y:scroll; height:645px;">
                            <h1 style="color: #000000;">Various Visualizations Will Be In This Column</h1>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        <!-- End: Visualization display section -->
                        
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- End: /.col-lg-12 -->
            </div>
            <!-- End: /row -->            
        </div>
        <!-- End: /.container -->
    </header>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>University of Colorado<br>Boulder, CO  80309</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Share Our App</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <p><br><br><br>Copyright &copy; Big Neuron 2016</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- jQuery -->
    <script src="../../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../../js/classie.js"></script>
    <script src="../../js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../../js/jqBootstrapValidation.js"></script>
    <script src="../../js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../js/freelancer.js"></script>
    
    <script type="text/javascript">
    function changeBackgroundColor() {
        var labels = ["lbl0",  "lbl1",  "lbl2",  "lbl3",  "lbl4",  "lbl5",  "lbl6",  "lbl7",  "lbl8",  "lbl9", 
                      "lbl10", "lbl11", "lbl12", "lbl13", "lbl14", "lbl15", "lbl16", "lbl17", "lbl18", "lbl19"];

        var radios = document.getElementsByName( "optionsRadios" );
        if( radios === null )
        {
            alert( "Radios is null" );
        }
        for( var l = 0; l < labels.length; l++ )
        {
            var elmnt = document.getElementById( labels[l] );
            if( elmnt === null )
            {
                alert( "element " + l + " was not found." );
            }
        
            if( radios[l].checked === true )
            {
                elmnt.style.backgroundColor = "cadetblue"; 
            }
            else
            {
                elmnt.style.backgroundColor = "lightgray"; 
            }
        }
    }
    </script>

</body>

</html>
