<!--
    Author : Tanvi Parikh
    Purpose : Sentence-level sentiment analysis 
    Date : 4/8
    Pull tone.json generated for each tweet and render it into an interactive pie chart with legend
    Using DataLoader plugin to load external JSON data 
    The page needs to be loaded via web server (http://) in order to work properly.

    Contains the simplistic form of a pie donut chart to simply understand it compatibility with our data
-->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Sentence Level Sentiment Analysis</title>
        <!-- amCharts javascript sources -->
        <script src="/amcharts/amcharts.js" type="text/javascript"></script>
        <script type="text/javascript" src="http://www.amcharts.com/lib/3/pie.js"></script>
        <script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/chalk.js"></script>
        <script src="amcharts/plugins/dataloader/dataloader.min.js" type="text/javascript"></script>

        <style>
  body, html {
    font-family: Verdana;
    font-size: 12px;
  }
  #chartdiv {
    width: 100%;
    height: 500px;
  }
  </style>
  <script>
    AmCharts.makeChart("chartdiv", {
      "type": "pie",
      "dataLoader": {
        "url": "data/pie2.json",
        "showCurtain": false
      },
      "titleField": "tone_name",
      "valueField": "score",
      "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
      "innerRadius": "30%",
      "legend": {
        "align": "center",
        "markerType": "circle",
        "valueWidth": "left",
        "valueText" : "[[value]]",
        "equalWidths": false,
        "position" : "bottom"
      }
    });
  </script>
</head>

<body>
<center><h1> Emotion Tone - Sentiment Analysis </h1>
<h3> Sentence-Level </h3></center>
    <div id="chartdiv"></div>
</body>

</html>